.slide-custom-a {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-variant: small-caps;
}
.slide-custom-a .image-a {
  float: right;
}
.slide-custom-html5-vs-powerpoint li {
  font-size: 0.8em;
}
