body {
  background-color: white;
  background: url("love.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: black;
  font-family: Helvetica, Arial, Sans-Serif;
}
a {
  color: #863c3c;
  transition-property: none;
}
a:hover {
  color: #ff7b7b;
}
.chart-area {
  background-image: url("chart_pattern_love.png");
}
.slide {
  transition: 0.5s opacity;
}
