body {
  background-color: white;
  background: url("love.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: black;
  font-family: Helvetica, Arial, Sans-Serif;
}
a {
  color: #863c3c;
  transition-property: none;
}
a:hover {
  color: #ff7b7b;
}
.chart-content {
  background-image: url("chart_pattern_love.png");
  border: 1px solid black;
}
.chart {
  color: white;
  border: 1px solid black;
  background-color: #1b0412;
}
.bar-chart-mobile {
  border: 1px solid black;
  background-image: url("chart_pattern_love.png");
  color: white;
}
.slide {
  transition: 0.5s opacity;
}
code {
  border: 1px solid black;
  background-image: url("chart_pattern_love.png");
  color: white;
}
