body {
  background-color: white;
  background: url("green.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: black;
}
.slide-basic h1 {
  font-variant: small-caps;
}
a {
  color: #2c592a;
  transition-property: none;
}
a:hover {
  color: #60da5a;
}
.chart-content {
  background-image: url("chart_pattern_green.png");
  border: 1px solid black;
}
.chart {
  color: white;
  border: 1px solid black;
  background-color: #001b05;
}
.bar-chart-mobile {
  border: 1px solid black;
  background-image: url("chart_pattern_green.png");
  color: white;
}
.slide {
  transition: 0.5s all;
  transform: rotateY(20deg);
}
.slide-active {
  transform: none;
}
code {
  border: 1px solid black;
  background-image: url("chart_pattern_green.png");
  color: white;
}
